.ie8 {
  .col-md-12 {
	  width: 100%;
	}

	.col-md-11 {
	  width: 91.66666666666666%;
	}

	.col-md-10 {
	  width: 83.33333333333334%;
	}

	.col-md-9 {
	  width: 75%;
	}

	.col-md-8 {
	  width: 66.66666666666666%;
	}

	.col-md-7 {
	  width: 58.333333333333336%;
	}

	.col-md-6 {
	  width: 50%;
	}

	.col-md-5 {
	  width: 41.66666666666667%;
	}

	.col-md-4 {
	  width: 33.33333333333333%;
	}

	.col-md-3 {
	  width: 25%;
	}

	.col-md-2 {
	  width: 16.666666666666664%;
	}

	.col-md-1 {
	  width: 8.333333333333332%;
	}

	.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11 {
	  float: left;
	}

	/* add new ---- 29/9 */

	%bg-opt-60 {
	  background: transparent url("../images/background/bg-1.png") repeat 0 0;
	}

	%bg-opt--white-60 {
	  background: transparent url("../images/background/bg-4.png") repeat 0 0;
	}
	%bg-opt-30 {
	  background: transparent url("../images/background/bg-o-30.png") repeat 0 0;
	}
	%bg-opt-80 {
	  background: transparent url("../images/background/bg-o-80.png") repeat 0 0;
	}

	/* header */

	#kopa-page-header {
	  z-index: 3;
	}

	#main-menu {
	  > li {
	    > a {
	      background: #d90618;
	      &:after, &:before {
	          display: none;
	      }
	    }
	    &.active, &:hover {
	      > a {
	          background: #a80110;
	      }
	    }
	  }
	}

	.sub-main-menu {
	  background: #000;
	  .sub-menu {
	    > li {
	      &.active, &:hover {
	        > a {
	          background-color: #a80110;
	        }
	      }
	    }
	  }
	}


	/* kopa-top-slide */
	.kopa-top-slide {
	  .control-top-slide {
	    a {
	      border-width: 2px;
	      &:after {
	        @extend %bg-opt-60; top: -2px; left: -2px; bottom: -2px; right: -2px;
	      }
	    }
	    li {
	      &.active {
	        a {
	          border-width: 3px;
	          &:after {
	            background: none; top: -3px; left: -3px; bottom: -3px; right: -3px;
	          }
	        }
	      }
	    }
	  }
	}

	.find-cars {
	  @extend %bg-opt-60;
	}

	/* kopa-tab-1*/
	.kopa-tab-1 {
	  .nav {
	    li {
	      a {
	        background: #0e0e0e;
	      }
	      &:hover, &.active {
	        &:before {
	          border-top-color: #d90618;
	        }
	        a {
	          background: #d90618;
	          &:hover {
	            color: #fff; background: #d90618;
	          }
	        }
	      }
	    }
	  }
	}

	.kopa-button-default {
	  &.button-gde {
	    background: #d90618;
	  }
	}

	.checkbox-wrap {
	  padding-left: 20px;
	  &:after, .fa {
	    display: none
	  }
	  input[type="checkbox"] {
	    position: absolute; top: 6px; left: 0;
	  }
	}

	.form-title:after {
	  top: 2px;
	}

	.page-nav {
	  li:after {
	    top: 0;
	  }
	}

	#kopa-page-header {
	  > div:first-child {
	    &:after, &:before {
	      background-image: url("../images/background/shadow-top.png"); background-repeat: no-repeat; background-position: 995px 0;
	    }
	    &:before {
	      background-position: -5px 0;
	    }
	  }
	}

	.sticky-wrapper {
	  .stuck {
	    &:after, &:before {
	      background-image: url("../images/background/shadow-top.png"); background-repeat: no-repeat; background-position: 995px 0;
	    }
	    &:before {
	      background-position: -5px 0;
	    }
	  }
	}

	.sub-page-slide {
	  .content {
	    @extend %bg-opt-60;
	  }
	}

	.control-sub-page-slide {
	  li {
	    &:after {
	      @extend %bg-opt-60;
	    }
	    &.active, &:hover {
	      &:after {
	          background: none;
	      }
	    }
	  }
	}
	.kopa-top-slide {
	  .intro {
	    @extend %bg-opt--white-60;
	  }
	}
	.kopa-top-slide-2 {
	  .intro {
	    background: none;
	  }
	}

	//kopa home 3
	.logo-image:after {
	  width: auto; left: 10px; right: 10px; margin-left: 0;
	}
	.product-list-1 {
	  .thumbnail {
	    > *:first-child { //the boc img
	      &:before {
	        @extend %bg-opt-30;
	      }
	    }
	    &:hover {
	      > *:first-child {
	        &:before, &:after {
	          background: none;
	        }
	      }
	    }
	  }
	}
	.product-list-1 {
	  .flag {
	    padding: 0; height: 28px; line-height: 28px; width: 45px; top: 0; right: 8px;
	    i {
	      padding: 0;
	    }
	  }
	}

	.product-list-2 {
	  .thumbnail {
	    > *:first-child {
	      &:before, &:after {
	        background: none;
	      }
	    }
	    &:hover {
	      > *:first-child {
	        &:before, &:after {
	            background: none;
	        }
	      }
	    }
	  }
	  .content {
	    &:after {
	      background: none;
	    }
	    &:before {
	      @extend %bg-opt-80;
	    }
	  }
	  .content-title {
	    border-bottom: 1px solid transparent;
	  }
	  .info-1, .kopa-button-default {
	    display: none;
	  }
	  .flag {
	    top: 70px; right: 15px;
	  }
	  .item:hover {
	    .content {
	      &:after {
	        background: url("../images/background/bottom-prod-fea-hover.png") no-repeat 0 0;
	      }
	    }
	    .content-title {
	      border-bottom: 1px solid #6E6E6D;
	    }
	    .info-1 {
	      display: block;
	    }
	    .kopa-button-default {
	      display: inline-block;
	    }
	    .flag {
	      display: none;
	    }
	  }
	}

	.kopa-newsletter-1-widget {
	  .button-skew-1 {
	    margin-right: 0; padding-right: 25px; background-color: #e5091c; border: 1px solid #e5091c;
	  }
	}

	.hexagon-1 {
	  &:after, &:before {
	    display: none
	  }
	  > * {
	    width: 48px; margin-left: -24px; border: 1px solid #fff;
	    &:after, &:before {
	      display: none
	    }
	  }
	}

	//kopa home 1
	.kopa-home-1 {
	  .find-cars {
	    .col-lg-6 {
	      width: 50%;
	    }
	    .col-lg-12 {
	      width: 100%;
	    }
	  }
	}

	.kopa-product-tab-widget .item .flag {
	  top: 8px; right: 15px;
	}

	.kopa-testimonial-2-widget {
	  .testimonial-box {
	    li {
	      &:hover, &.active {
	        a {
	          &:after {
	            @extend %bg-opt-30;
	          }
	        }
	      }
	    }
	  }
	}

	.widget-title-8 .prev {
	  left: -44px;
	}

	.product-list-1-o .owl-controls {
	  right: 23px;
	}

	@mixin opacity($bg, $opacity) {
	  background-color: $bg;
	  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity = " + $opacity + ")";
	}

	.kopa-home-4 .kopa-on-shoping-widget {
	  @include opacity(#fff, 70);
	}

	.button-half-skew {
	  @include opacity(#fff, 70); padding: 0 15px;
	  &:after {
	    display: none;
	  }
	}

	.col-md-pull-9 {
	  position: relative; right: 75%;
	}
	.col-md-push-3 {
	  position: relative; left: 25%;
	}

	.kopa-featured-dealer-1-widget {
	  .col-lg-6 {
	    width: 50%; float: left;
	  }
	}

	.col-md-12.col-lg-9 {
	  width: 75%; float: left;
	}
	.col-md-12.col-lg-3 {
	  width: 25%; float: left;
	}

	.buttons-box {
	  .col-lg-4 {
	    width: 33.3333%
	  }
	  .col-lg-8 {
	    width: 66.6666%
	  }
	}

	.shop-box {
	  .col-lg-4 {
	    width: 33.3333%; float: left;
	  }
	  .col-lg-3 {
	    width: 25%; float: left;
	  }
	}

	.sub-main-menu-o {
	  margin-left: 0;
	  .sub-menu {
	    background: #000;
	  }
	}
	.on-shoping-box .item.shopping-cart .h6:before {
	  background: #e5091c;
	}

	.kopa-social-widget {
	  background: #e5091c;
	  &:before {
	    left: -1000px; background: #e5091c;
	  }
	  &:after {
	    display: block;
	  }
	}

	// .widget-area-13 {
	//   width: 37.19%;
	// }

	.kopa-widget-top-slide .item {
	  a:after {
	    @extend %bg-opt-30;
	  }
	  &:hover {
	    a:after {
	      background: transparent;
	    }
	  }
	}

	.kopa-top-product-list-2-widget .item {
	  &:before {
	    @extend %bg-opt-30;
	  }
	  &:hover {
	    &:before {
	      background: transparent;
	    }
	  }
	}

	.product-list-1-o .thumbnail:hover:before {
	  @extend %bg-opt-30;
	}

	.kopa-latest-blogs-widget .product-list-1-o .thumbnail {
	  &:after {
	    @extend %bg-opt-30;
	  }
	  &:hover {
	    &:after {
	      background: transparent;
	    }
	  }
	}

	.kopa-product-detail-1-widget .thumbnail {
	  &:after {
	    @extend %bg-opt-30;
	  }
	  &:hover {
	    &:after {
	      background: transparent;
	    }
	  }
	}

	.kopa-product-detail-2-widget .thumbnail {
	  a:after {
	    @extend %bg-opt-30;
	  }
	  &:hover {
	    a:after {
	      background: transparent;
	    }
	  }
	}

	.purchase-box {
	  .wrapper {
	    padding-right: 170px;
	  }
	  .button-skew {
	    right: 0;
	  }
	}

	.kopa-home-2 {
	  .col-lg-6 {
	    width: 50%; float: left;
	  }
	}

	.kopa-top-slide-2 .control-top-slide li {
	  &.active {
	    a {
	      border-width: 2px;
	      &:after {
	        bottom: auto; height: 100%; left: 0; right: auto; top: 0; width: 100%;
	      }
	    }
	  }
	  a {
	    border-width: 1px;
	    &:after {
	      bottom: auto; height: 100%; left: 0; right: auto; top: 0; width: 100%;
	    }
	  }
	}

	.kopa-newsletter-1-widget {
	  .form-control-wrap-1 {
	    position: relative; padding: 0 10px;
	  }
	  .button-skew-1 {
	    right: 0; padding: 0 22px; width: auto;
	  }
	}

	.perfect-scrollbar {
		overflow-y: auto;
	}
}