//font
$font-body: 'Open Sans', sans-serif;
$font-heading: Tahoma, Verdana, Segoe, sans-serif;
$width-page: 1210px;
$margin-page: 20px;
$transition: all .3s ease-in-out;

//color
$black: #000;
$white: #fff;
$mine-shaft: #2d2d2d;
$monza-1: #d90618;
$monza-2: #e5091c;
$bright-red: #a80110;
$red-devil: #84020b;
$silver-sand: #b3b8ba;
$cod-gray-1: #0e0e0e;
$cod-gray-2: #171717;
$cod-gray-3: #1e1e1e;
$cod-gray-4: #131313;
$cod-gray-5: #1c1c1c;
$concrete: #f2f2f2;

$color-1: $mine-shaft;
$color-2: $silver-sand;
$color-3: $monza-1;
$color-4: $white;
$color-5: $black;
$color-10: $cod-gray-4;
$color-11: $monza-2;
$color-12: $cod-gray-5;

$color-hover: $monza-1;
$color-link: $monza-1;
$color-heading-1: $black;
$color-heading-2: $white;
$color-btn: $white;

$border-1: $cod-gray-2;
$border-2: $silver-sand;
$border-3: $monza-1;
$border-4: $white;
$border-5: $concrete;
$border-6: $black;
$border-7: $mine-shaft;
$border-10: $cod-gray-4;
$border-11: $monza-2;
$border-12: $cod-gray-5;

$bg-1: $cod-gray-1;
$bg-2: $cod-gray-2;
$bg-3: $monza-1;
$bg-4: $white;
$bg-5: $concrete;
$bg-6: $black;
$bg-8: $bright-red;
$bg-9: $red-devil;
$bg-10: $cod-gray-4;
$bg-11: $monza-2;
$bg-12: $cod-gray-5;
$bg-13: $mine-shaft;