/**
 * Pagination
 */

.tuta-pagination {
  text-align: center;
  > * {
    display: inline-block; margin: 0 5px; line-height: 30px;
    color: $color-1; font-weight: 700;
    > a {
      border: none; color: $color-1; font-weight: 700;
      &:hover {
        color: $color-3;
      }
    }
    &.active, &.current {
      color: $color-3;
      > a {
        color: inherit;
      }
    }
  }
  > span {
    //color: $color-3;
  }
  .previous, .prev {
    float: left; margin: 0 10px 0 0;
    > span {
      font-weight: 700;
    }
  }
  .next, .next {
    float: right; margin: 0 0 0 10px;
    > span {
      font-weight: 700;
    }
  }
  @include until($device-width-sm) {
    .previous, .next {
      margin: 0;
    }
  }
}
