/**
 * author box
 */

.author-box {
	@include clearfix; margin-bottom: 20px;
	.author-avatar {
    float: left;
    width: auto;
	}
	.author-body {
		padding: 0 15px; overflow: hidden;
    P:last-of-type {
      margin-bottom: 0;
    }
	}
}