/**
 * jetpack
 */

.gallery {
  margin-bottom: 20px;
  .gallery-item {
    display: inline-block;
    padding: 1.79104477%;
    text-align: center;
    vertical-align: top;
    width: 100%;
  }
}

.gallery-columns-4 {
  .gallery-item {
    max-width: 25%;
  }
}