/**
 * blog-category-widget
 */

.tuta-blog-category-widget {
  @extend %tuta-template-1-widget;
  .list-style-1 {
    li {
      border-top: none; padding-top: 0;
      &.active {
        a {
          color: $color-3;
          &:after {
            content: '\f0c8'; color: $color-3;
          }
        }
      }
    }
    a {
      color: $color-1; padding-left: 22px; position: relative;

      &:after {
        content: '\f096'; font: 400 17px/1 FontAwesome; position: absolute; top: 2px; left: 0;
        @include transition();
      }
      &:hover {
        color: $color-3;
        &:after {
          content: '\f0c8'; color: $color-3; 
        }
      }
    }
  }
}