/**
 * featured-list-widget
 */

.tuta-featured-list-widget {
  @extend %tuta-template-1-widget; padding-bottom: 15px;
  .thumbnail {
    margin: 5px 10px 5px 0;
  }
  .list-style-1 {
    li:first-child {
      margin-top: -5px;
    }
  }
}
