/**
 * tuta-mpbrands-3-widget
 */

.tuta-mpbrands-3-widget { //home-5
  border: none; padding: 0;
  .widget-content {
    > li {
      width: 12.5%; text-align: center; float: left; position: relative; min-height: 1px;
      padding-right: 10px; padding-left: 10px; height: 70px; margin-bottom: 20px;
      &:nth-child(8n+1) {
        text-align: left;
      }
      &:nth-child(8n) {
        text-align: right;
      }
      img {
        width: auto;
      }
    }
  }
  @include until($device-width-md) {
    .widget-content {
      li {
        width: 25%;
        &:nth-child(8n+1), &:nth-child(8n) {
          text-align: center;
        }
      }
    }
  }
  @include until($device-width-xs) {
    .widget-content {
      li {
        width: 33.333%;
      }
    }
  }
}
@include widget-area-2 {
  .tuta-mpbrands-3-widget {
    .widget-content {
      > li {
        width: 33.3333%;
        &:nth-child(3n+1) {
          text-align: left;
        }
        &:nth-child(3n) {
          text-align: right;
        }
      }
    }
    @include until($device-width-lg) {
      .widget-content {
        > li {
          width: 12.5%; text-align: center;
          &:nth-child(3n+1), &:nth-child(3n) {
            text-align: center;
          }
          &:nth-child(8n+1) {
            text-align: left;
          }
          &:nth-child(8n) {
            text-align: right;
          }
        }
      }
    }
    @include until($device-width-md) {
      .widget-content {
        li {
          width: 25%;
          &:nth-child(8n+1), &:nth-child(8n) {
            text-align: center;
          }
        }
      }
    }
    @include until($device-width-xs) {
      .widget-content {
        li {
          width: 33.333%;
        }
      }
    }
  }
}
@include widget-area-3 {
  .tuta-mpbrands-3-widget {
    .widget-content {
      > li {
        width: 25%;
        &:nth-child(8n+1), &:nth-child(8n) {
          text-align: center;
        }
      }
    }
    @include until($device-width-lg) {
      .widget-content {
        > li {
          width: 12.5%; text-align: center;
          &:nth-child(3n+1), &:nth-child(3n) {
            text-align: center;
          }
          &:nth-child(8n+1) {
            text-align: left;
          }
          &:nth-child(8n) {
            text-align: right;
          }
        }
      }
    }
    @include until($device-width-md) {
      .widget-content {
        li {
          width: 25%;
          &:nth-child(8n+1), &:nth-child(8n) {
            text-align: center;
          }
        }
      }
    }
    @include until($device-width-xs) {
      .widget-content {
        li {
          width: 33.333%;
        }
      }
    }
  }
}
@include widget-area-4 {
  .tuta-mpbrands-3-widget {
    .widget-content {
      > li {
        width: 25%;
        &:nth-child(8n+1), &:nth-child(8n) {
          text-align: center;
        }
      }
    }
    @include until($device-width-lg) {
      .widget-content {
        > li {
          width: 12.5%; text-align: center;
          &:nth-child(3n+1), &:nth-child(3n) {
            text-align: center;
          }
          &:nth-child(8n+1) {
            text-align: left;
          }
          &:nth-child(8n) {
            text-align: right;
          }
        }
      }
    }
    @include until($device-width-md) {
      .widget-content {
        li {
          width: 25%;
          &:nth-child(8n+1), &:nth-child(8n) {
            text-align: center;
          }
        }
      }
    }
    @include until($device-width-xs) {
      .widget-content {
        li {
          width: 33.333%;
        }
      }
    }
  }
}
@include widget-area-6 {
  .tuta-mpbrands-3-widget {
    width: $width-page; margin-left: auto; margin-right: auto;
    @include until($device-width-lg) {
      width: auto; margin-left: 10px; margin-right: 10px;
    }
  }
}