/**
 * ootweek-widget
 */

.tuta-ootweek-widget {
  background-color: $bg-1; padding: 15px 20px 20px;
  @include border-radius();
  .widget-content {
    > li {
      overflow: hidden; border-top: 1px solid $border-1; padding-top: 15px; margin-top: 20px;
      &:first-child {
        padding-top: 0; margin-top: 0; border: none;
      }
    }
  }
  p {
    margin-bottom: 0;
  }
  .more-link {
    margin-top: 10px; display: inline-block;
  }
  .thumbnail {
    float: left; margin: 5px 20px 0 0;
  }
  
  @include until($device-width-lg) {
    .widget-content {
      margin: 0 -20px; overflow: hidden;
      li {
        width: 50%; padding: 0 20px; float: left; margin-top: 0; border: none; border-left: 1px solid $border-1;
        &:first-child {
          border: none;
        }
      }
    }
  }
  @include atLeastUntil($device-width-sm, $device-width-md) {
    .thumbnail {
      width: 52.4475%;
    }
    .info-1 {
      > span {
        display: block; padding-left: 0;
        &:after {
          display: none;
        }
      }
    }
  }
  @include until($device-width-sm) {
    .widget-content {
      > li {
        width: 100%; float: none;
        overflow: hidden; border-top: 1px solid $border-1; padding-top: 15px; margin-top: 20px;
        &:first-child {
          padding-top: 0; margin-top: 0; border: none;
        }
      }
    }
  }
  @include until($device-width-xs) {      
    .thumbnail {
      width: 100%; float: none; margin: 0 0 15px;
      img {
        width: 100%; max-width: 100%;
      }
    }
  }
}

@include widget-area-1 {
  .tuta-ootweek-widget {
    .widget-content {
      margin: 0 -20px; overflow: hidden;
      li {
        width: 50%; padding: 0 20px; float: left; margin-top: 0; border: none; border-left: 1px solid $border-1;
        &:first-child {
          border: none;
        }
      }
    }
    @include until($device-width-sm) {
      .widget-content {
        > li {
          width: 100%; float: none;
          overflow: hidden; border-top: 1px solid $border-1; padding-top: 15px; margin-top: 20px;
          &:first-child {
            padding-top: 0; margin-top: 0; border: none;
          }
        }
      }
    }
    @include until($device-width-xs) {      
      .thumbnail {
        width: 100%; float: none; margin: 0 0 15px;
        img {
          width: 100%; max-width: 100%;
        }
      }
    }
  }
}
@include widget-area-2 {
  .tuta-ootweek-widget {
    .thumbnail {
      width: 100%; float: none; margin: 0 0 15px;
      img {
        width: 100%; max-width: 100%;
      }
    }
    @include until($device-width-lg) {
      .thumbnail {
        width: auto; float: left; margin: 5px 20px 0 0;
      }
    }
    @include atLeastUntil($device-width-sm, $device-width-md) {
      .thumbnail {
        width: 52.4475%;
      }
    }
    @include until($device-width-xs) {
      .widget-content {
        > li {
          width: 100%; float: none;
          overflow: hidden; border-top: 1px solid $border-1; padding-top: 15px; margin-top: 20px;
          &:first-child {
            padding-top: 0; margin-top: 0; border: none;
          }
        }
      }
      .thumbnail {
        width: 100%; float: none; margin: 0 0 15px;
        img {
          width: 100%; max-width: 100%;
        }
      }
    }
  }
}
@include widget-area-5 {
  .tuta-ootweek-widget {
    .widget-content {
      margin: 0 -20px; overflow: hidden;
      li {
        width: 50%; padding: 0 20px; float: left; margin-top: 0; border: none; border-left: 1px solid $border-1;
        &:first-child {
          border: none;
        }
      }
    }
    @include until($device-width-sm) {
      .widget-content {
        > li {
          width: 100%; float: none;
          overflow: hidden; border-top: 1px solid $border-1; padding-top: 15px; margin-top: 20px;
          &:first-child {
            padding-top: 0; margin-top: 0; border: none;
          }
        }
      }
    }
    @include until($device-width-xs) {      
      .thumbnail {
        width: 100%; float: none; margin: 0 0 15px;
        img {
          width: 100%; max-width: 100%;
        }
      }
    }
  }
}
@include widget-area-6 {
  .tuta-ootweek-widget {
    width: $width-page; margin-left: auto; margin-right: auto;
    .widget-content {
      margin: 0 -20px; overflow: hidden;
      li {
        width: 50%; padding: 0 20px; float: left; margin-top: 0; border: none; border-left: 1px solid $border-1;
        &:first-child {
          border: none;
        }
      }
    }
    @include until($device-width-lg) {
      width: auto; margin-left: 10px; margin-right: 10px;
    }
    @include until($device-width-sm) {
      .widget-content {
        > li {
          width: 100%; float: none;
          overflow: hidden; border-top: 1px solid $border-1; padding-top: 15px; margin-top: 20px;
          &:first-child {
            padding-top: 0; margin-top: 0; border: none;
          }
        }
      }
    }
    @include until($device-width-xs) {      
      .thumbnail {
        width: 100%; float: none; margin: 0 0 15px;
        img {
          width: 100%; max-width: 100%;
        }
      }
    }
  }
}
@include tuta-home-2 {
  .tuta-ootweek-widget {
    @include until($device-width-lg) {
      .widget-content {
        li {
          width: 100%;
        }
      }
      .thumbnail {
        width: auto; float: left; margin: 5px 20px 0 0;
      }
    }
    @include until($device-width-xs) {
      .thumbnail {
        float: none; margin: 0 0 15px;
      }
    }
  }
  @include widget-area-2 {
    .tuta-ootweek-widget {
      .thumbnail {
        width: 100%; float: none; margin: 0 0 15px;
        img {
          width: 100%; max-width: 100%;
        }
      }
      @include until($device-width-lg) {
        .thumbnail {
          width: auto; float: left; margin: 5px 20px 0 0;
        }
      }
      @include until($device-width-xs) {
        .thumbnail {
          float: none; margin: 0 0 15px;
        }
      }
    }
  }
  @include widget-area-1 {
    .tuta-ootweek-widget {
      .widget-content {
        li {
          width: 100%;
        }
      }
    }
  }
  @include widget-area-5 {
    .tuta-ootweek-widget {
      .widget-content {
        li {
          width: 100%;
        }
      }
    }
  }
  @include widget-area-6 {
    .tuta-ootweek-widget {
      .widget-content {
        li {
          width: 100%;
        }
      }
    }
  }
}