/**
 * product-tab-widget
 */

.tuta-product-tab-widget {
  .item {
    position: relative;
    .flag {
      top: 13px; right: 10px;
    }
    .info-1 {
      margin-bottom: 8px;
    }
  }
  @include until($device-width-md){
    .row {
      > div {
        margin-bottom: 30px;
        &:nth-last-child(1), &:nth-last-child(2) {
          margin-bottom: 0;
        }
      }
    }
  }
  @include until($device-width-sm){
    .row {
      > div {
        &:nth-last-child(2) {
          margin-bottom: 30px;
        }
      }
    }
  }
}