/**
 * service widget
 */

.srv-wrapper {
  margin-top: -84px;
}

%tuta-service {
  .content-title {
    position: relative; padding-left: 70px; margin-bottom: 42px;
    &:after {
      content: "\f1ba"; font-size: 40px; position: absolute; top: 0; left: 0; font-family: FontAwesome;
      font-weight: 400; line-height: 43px;
    }
    &.ico-taxi {
      &:after {
        content: "\f1ba";
      }
    }
    &.ico-car {
      &:after {
        content: "\f1b9";
      }
    }
    &.ico-tablet {
      &:after {
        content: "\f10a"; font-size: 45px;
      }
      &:before {
        content: "\f10b"; font-size: 35px; position: absolute; top: 14px; left: 35px; font-family: FontAwesome;
        font-weight: 400; line-height: 28px;
      }
    }
  }  
}

.tuta-service-1-widget { //home-4
  @extend %tuta-service;
  .item {
    background-color: $bg-1; padding: 18px 20px 20px; position: relative;
    @include border-radius();
    &:after {
      @include before-bottom(0, 95px, 95px, $bg-1); bottom: 0; right: 0; width: 0; height: 0;
    }
    &:before {
      content: ''; position: absolute; bottom: 0; right: 0; width: 95px; height: 95px; 
      background-color: $bg-2; @include border-radius();
    }
    .tuta-button-default {
      padding: 0 20px;
    }
  }
  p, .button-wrap {
    position: relative; z-index: 1
  }
  @include until($device-width-lg) {
    .content-title {
      margin-bottom: 22px;
    }
  }
  @include until($device-width-sm) {
    margin-bottom: 10px;
    .item {
      margin-bottom: 10px;
    }
  }
}
@include widget-area-2 {
  .tuta-service-1-widget {
    .widget-content {
      margin-bottom: -20px;
    }
    .col-md-4 {
      width: 100%; float: none; margin-bottom: 20px;
    }
    @include until($device-width-lg) {
      .col-md-4 {
        width: 33.3333%; float: left;
      }
    }
    @include until($device-width-sm) {
      .col-md-4 {
        width: 100%; float: none;
      }
    }
  }
}
@include widget-area-3 {
  .tuta-service-1-widget {
    .widget-content {
      margin-bottom: -20px;
    }
    .col-md-4 {
      width: 100%; float: none; margin-bottom: 20px;
    }
    @include until($device-width-lg) {
      .col-md-4 {
        width: 33.3333%; float: left;
      }
    }
    @include until($device-width-sm) {
      .col-md-4 {
        width: 100%; float: none;
      }
    }
  }
}
@include widget-area-4 {
  .tuta-service-1-widget {
    .widget-content {
      margin-bottom: -20px;
    }
    .col-md-4 {
      width: 100%; float: none; margin-bottom: 20px;
    }
    @include until($device-width-lg) {
      .col-md-4 {
        width: 33.3333%; float: left;
      }
    }
    @include until($device-width-sm) {
      .col-md-4 {
        width: 100%; float: none;
      }
    }
  }
}
@include widget-area-6 {
  .tuta-service-1-widget {
    width: $width-page; margin-left: auto; margin-right: auto;
    @include until($device-width-lg) {
      width: auto; margin-left: 10px; margin-right: 10px;
    }
  }
}

.tuta-service-2-widget { //home-5
  @extend %tuta-service;
  background: $bg-2 url("images/background/bg-2.png") repeat 0 0; overflow: hidden;
  @include border-radius();
  .thumbnail, img {
    @include border-radius(0);
  }
  .widget-content {
    margin: 0 -10px; overflow: hidden;
  }
  .col-left, .col-right {
    padding: 0 10px; float: left;
  }
  .col-left {
    width: 57%;
  }
  .col-right {
    width: 43%;
  }
  .content {
    padding: 20px;
  }
  .item {
    margin-top: 20px;
    &:first-child {
      margin-top: 0;
    }
  }
  .content-title {
    margin-bottom: 5px; 
    &:after {
      top: 6px;
    }
  }
  p {
    margin: 0 0 0 70px;
  }
  @include until($device-width-md) {
    .row {
      > div {
        margin-bottom: 20px;
        &:last-child {          
          margin-bottom: 0;
        }
      }      
    }
    .col-left, .col-right {
      width: 100%; float: none;
    }
  }
  @include atLeastUntil($device-width-sm, $device-width-md) {
    .content {
      padding: 20px 0;
    }
    .item {
      float: left; width: 33.3333%; padding: 0 20px; margin: 0;
    }
  }
}
@include widget-area-2 {
  .tuta-service-2-widget {
    .col-left, .col-right {
      width: 100%;
    }
    @include until($device-width-lg) {
      .col-left {
        width: 57%;
      }
      .col-right {
        width: 43%;
      }
    }
    @include until($device-width-md) {
      .row {
        > div {
          margin-bottom: 20px;
          &:last-child {          
            margin-bottom: 0;
          }
        }      
      }
      .col-left, .col-right {
        width: 100%; float: none;
      }
    }
  }
}
@include widget-area-3 {
  .tuta-service-2-widget {
    .col-left, .col-right {
      width: 100%;
    }
    @include until($device-width-lg) {
      .col-left {
        width: 57%;
      }
      .col-right {
        width: 43%;
      }
    }
    @include until($device-width-md) {
      .row {
        > div {
          margin-bottom: 20px;
          &:last-child {          
            margin-bottom: 0;
          }
        }      
      }
      .col-left, .col-right {
        width: 100%; float: none;
      }
    }
  }
}
@include widget-area-4 {
  .tuta-service-2-widget {
    .col-left, .col-right {
      width: 100%;
    }
    @include until($device-width-lg) {
      .col-left {
        width: 57%;
      }
      .col-right {
        width: 43%;
      }
    }
    @include until($device-width-md) {
      .row {
        > div {
          margin-bottom: 20px;
          &:last-child {          
            margin-bottom: 0;
          }
        }      
      }
      .col-left, .col-right {
        width: 100%; float: none;
      }
    }
  }
}
@include widget-area-5 {
  .tuta-service-2-widget {
    .col-left {
      width: 526px;//57%;
    }
    .col-right {
      width: auto;//43%;
    }
    @include until($device-width-lg) {
      .col-left {
        width: 57%;
      }
      .col-right {
        width: 43%;
      }
    }
    @include until($device-width-md) {
      .row {
        > div {
          margin-bottom: 20px;
          &:last-child {          
            margin-bottom: 0;
          }
        }      
      }
      .col-left, .col-right {
        width: 100%; float: none;
      }
    }
  }
}
@include widget-area-6 {
  .tuta-service-2-widget {
    width: $width-page; margin-left: auto; margin-right: auto;
    .col-left {
      width: 526px;//57%;
    }
    .col-right {
      width: auto;//43%;
    }
    @include until($device-width-lg) {
      width: auto; margin-left: 10px; margin-right: 10px;
      .col-left {
        width: 57%;
      }
      .col-right {
        width: 43%;
      }
    }
    @include until($device-width-md) {
      .row {
        > div {
          margin-bottom: 20px;
          &:last-child {          
            margin-bottom: 0;
          }
        }      
      }
      .col-left, .col-right {
        width: 100%; float: none;
      }
    }
  }
}