/**
 * social-widget
 */

.tuta-social-widget {
  $height-social-box: 70px;
  padding: 15px 0 15px 180px; line-height: 40px; color: $color-4;
  position: relative;
  &:before {    
    content: ''; position: absolute; top: 0; right: 0; bottom: 0; width: 1000px; @include transform(skew(-45deg));
    background: $bg-11;
    // IE9 SVG, needs conditional override of 'filter' to 'none' 
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2QzMDgxOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjU2JSIgc3RvcC1jb2xvcj0iI2Q5MDYxOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM5MzAyMGUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #d30819 0%, #d90618 56%, #93020e 100%); // FF3.6+ 
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d30819), color-stop(56%,#d90618), color-stop(100%,#93020e)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #d30819 0%,#d90618 56%,#93020e 100%); // Chrome10+,Safari5.1+ 
    background: -o-linear-gradient(top,  #d30819 0%,#d90618 56%,#93020e 100%); // Opera 11.10+ 
    background: -ms-linear-gradient(top,  #d30819 0%,#d90618 56%,#93020e 100%); // IE10+ 
    background: linear-gradient(to bottom,  #d30819 0%,#d90618 56%,#93020e 100%); // W3C 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d30819', endColorstr='#93020e',GradientType=0 ); /* IE6-8 */
    filter: none;
  }
  .content-title {
    line-height: 40px; margin: 0 15px 0 0; font-size: 14px;
    position: absolute; top: 15px; left: 0;
  }
  .social-links {
    margin-bottom: -10px; position: relative; width: 250px;
    li {
      margin-right: 5px; margin-bottom: 10px;
      a {
        width: 40px; height: 40px; background-color: $bg-4; color: #666; line-height: 40px;
      }
    }
  }
  @include until($device-width-md) {
    margin-left: -10px; margin-right: -10px; margin-bottom: 0 !important; padding: 15px 10px 15px 200px;
    background: $bg-11;
    // IE9 SVG, needs conditional override of 'filter' to 'none' 
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2QzMDgxOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjU2JSIgc3RvcC1jb2xvcj0iI2Q5MDYxOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM5MzAyMGUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #d30819 0%, #d90618 56%, #93020e 100%); // FF3.6+ 
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d30819), color-stop(56%,#d90618), color-stop(100%,#93020e)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #d30819 0%,#d90618 56%,#93020e 100%); // Chrome10+,Safari5.1+ 
    background: -o-linear-gradient(top,  #d30819 0%,#d90618 56%,#93020e 100%); // Opera 11.10+ 
    background: -ms-linear-gradient(top,  #d30819 0%,#d90618 56%,#93020e 100%); // IE10+ 
    background: linear-gradient(to bottom,  #d30819 0%,#d90618 56%,#93020e 100%); // W3C 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d30819', endColorstr='#93020e',GradientType=0 ); /* IE6-8 */
    filter: none;
    &:before {
      display: none;
    }

    .content-title {
      left: 10px;
    }
    .social-links {
      width: auto;
    }
  }
  @include until($device-width-xs) {
    padding: 15px 10px;
    .content-title {
      position: static; line-height: 20px; margin:  0 0 10px;
    }
    .social-links {
      margin: 0 -5px -10px;
    }
  }
}
@include tuta-style-flat {
  .tuta-social-widget {
    &:before {
      background: $bg-11;
    }
    @include until($device-width-md) {
      background: $bg-11;
    }
  }
}