/**
 * testimonial-2-widget
 */

.tuta-testimonial-2-widget {
  background: url("images/background/testimonial.jpg") repeat-y 50% 0; min-height: 253px;
  .col-aside {
    width: 34.12%;
  }
  .col-main {
    width: 65.88%;
  }
  .testimonial-box {
    background-color: $bg-11; color: $color-4; text-align: center; min-height: 253px; padding: 50px 58px; float: left;
    //margin-right: 40px;
    ul {
      text-align: left; overflow: hidden; margin: 0 -5px -10px; max-width: 336px;
    }
    li {
      float: left; padding: 0 5px; margin-bottom: 10px;
      &.active {
        a:after {
          background-color: rgba(0, 0, 0, 0);
        }
      }
      > a {
        display: block; @include border-radius(50%); border: 2px solid #c2c2c2; overflow: hidden; @include transition();
        width: 74px; height: 74px; position: relative; cursor: pointer;
        &:after {
          content: ''; @include border-radius(50%); position: absolute; top: 0; left: 0; width: 100%; height: 100%;
          background-color: rgba(0, 0, 0, .4); cursor: pointer; @include transition;
        }
        &:hover {
          &:after {
            background-color: rgba(0, 0, 0, 0);
          }
        }
      }      
    }
  }
  .owl-carousel-blockquote {
    overflow: hidden;
  }
  .blockquote {
    border: none; padding: 65px 40px 0; color: $color-4; margin: 0; overflow: hidden; min-height: 253px;
    &:before {
      color: $color-4;
    }
    p {
      margin-top: 20px;
    }
    .customer {
      color: $color-4;
    }
  }
  @include until($device-width-lg) {
    .wrapper {
      padding: 0;
    }
    .blockquote {
      padding-right: 40px;
    }
  }
  @include until($device-width-md) {
    height: auto; background: none;
    .testimonial-box {
      float: none; margin: 0; padding-left: 10px; padding-right: 10px;
      ul {
        max-width: none; text-align: center;
      }
      li {
        float: none; display: inline-block;
      }
    }
    .owl-carousel-blockquote {
      background: url("images/background/testimonial.jpg") no-repeat 50% 0; height: 253px; padding: 0 20px;
    }
    .blockquote {
      padding-right: 0; padding-left: 0;
    }
  }
  @include until($device-width-sm) {
    .blockquote {
      padding-top: 40px;
    }
  }
}
@include tuta-home-4 {
  .tuta-testimonial-2-widget {
    .widget-title {
      margin-left: -58px; margin-right: -58px;
    }
    @include until($device-width-md) {
      .widget-title {
        margin-left: -10px; margin-right: -10px;
      }
    }
  }
   
}